ul {
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 120px;
}

li {
    display: inline;
}

li a {
    color: #222222;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}

.navbartext {
    font-family: arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    font-style: normal;
    color: #222222;
}

nav div a {
    font-family: arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #70757a;
    float: left;
    padding-left: 20px;
    text-decoration: none;
}

nav div a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding-top: 60px;
}

footer {
    background-color: #eeeeee;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#gmail {
    padding-right: 12px;
}

#query {
    height: 45px;
    font-size: 16px;
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border:1px solid #dcdcdc;
}

#query:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.buttons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
}

.button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
}

.button:focus{
    border: 1px solid #4885ed;
    padding: 9px 19px;
}

form {
    padding-top: 40px;
}

#f1 {
    padding-left: 845px;
}

body {
    margin: 0;
}

#query {
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png);
    background-size: 27px 27px;
    background-repeat: no-repeat;
    background-position: 2% 98%; 
    background-position-y: 8px;
}

input {
    padding-left: 50px;
}